<app-modal-default>
    <span titleModal>Editar Cliente</span>

     <div class="container" contentModal>
      <form [formGroup]="form">
        <div class="mt-2">
          <label class="text-slate-800 font-medium text-sm block">Nome*</label>
          <input
            matInput
            type="text"
            formControlName="name"
            class="block w-full px-3 py-2 
            border border-slate-300 rounded-md"
            [class.input-error]="verificaValidTouched('name')"
          /> 
          <!-- <small class="gene-block" 
            *ngIf="displayMessage['name']"
            class="warn-text">
            <p [innerHTML]="displayMessage['name']"></p>
          </small> -->
        </div> 
        <div class="mt-2">
          <label class="text-slate-800 font-medium text-sm block">Email*</label>
          <input
            matInput
            type="email"
            formControlName="email"
            class="block w-full px-3 py-2 
            border border-slate-300 rounded-md"
            [class.input-error]="verificaValidTouched('email')"
          /> 
          <!-- <small class="gene-block" 
            *ngIf="displayMessage['name']"
            class="warn-text">
            <p [innerHTML]="displayMessage['name']"></p>
          </small> -->
        </div> 
        <div class="mt-2">
          <label class="text-slate-800 font-medium text-sm block">Telefone</label>
          <input
            matInput
            type="number"
            formControlName="telephone"
            class="block w-full px-3 py-2 
            border border-slate-300 rounded-md"
            [class.input-error]="verificaValidTouched('telephone')"
          /> 
          <!-- <small class="gene-block" 
            *ngIf="displayMessage['name']"
            class="warn-text">
            <p [innerHTML]="displayMessage['name']"></p>
          </small> -->
        </div> 
        <div class="mt-2">
          <label class="text-slate-800 font-medium text-sm block">Rua*</label>
          <input
            matInput
            type="text"
            formControlName="street"
            class="block w-full px-3 py-2 
            border border-slate-300 rounded-md"
            [class.input-error]="verificaValidTouched('rua')"
          /> 
          <!-- <small class="gene-block" 
            *ngIf="displayMessage['name']"
            class="warn-text">
            <p [innerHTML]="displayMessage['name']"></p>
          </small> -->
        </div>
        <div class="mt-2">
          <label class="text-slate-800 font-medium text-sm block">Número*</label>
          <input
            matInput
            type="number"
            formControlName="numberHouse"
            class="block w-full px-3 py-2 
            border border-slate-300 rounded-md"
            [class.input-error]="verificaValidTouched('numero')"
          /> 
          <!-- <small class="gene-block" 
            *ngIf="displayMessage['name']"
            class="warn-text">
            <p [innerHTML]="displayMessage['name']"></p>
          </small> -->
        </div>   
        <div class="mt-2">
          <label class="text-slate-800 font-medium text-sm block">Cidade*</label>
          <input
            matInput
            type="text"
            formControlName="city"
            class="block w-full px-3 py-2 
            border border-slate-300 rounded-md"
            [class.input-error]="verificaValidTouched('cidade')"
          /> 
          <!-- <small class="gene-block" 
            *ngIf="displayMessage['name']"
            class="warn-text">
            <p [innerHTML]="displayMessage['name']"></p>
          </small> -->
        </div>   
        <div class="mt-2">
          <label class="text-slate-800 font-medium text-sm block">Estado*</label>
          <input
            matInput
            type="text"
            formControlName="state"
            class="block w-full px-3 py-2 
            border border-slate-300 rounded-md"
            [class.input-error]="verificaValidTouched('estado')"
          /> 
          <!-- <small class="gene-block" 
            *ngIf="displayMessage['name']"
            class="warn-text">
            <p [innerHTML]="displayMessage['name']"></p>
          </small> -->
        </div> 
        <div class="mt-2">
          <label class="text-slate-800 font-medium text-sm block">Cep*</label>
          <input
            matInput
            type="number"
            formControlName="zip"
            class="block w-full px-3 py-2 
            border border-slate-300 rounded-md"
            [class.input-error]="verificaValidTouched('cep')"
          /> 
          <!-- <small class="gene-block" 
            *ngIf="displayMessage['name']"
            class="warn-text">
            <p [innerHTML]="displayMessage['name']"></p>
          </small> -->
        </div>          
      </form>
    </div>
  
    <div class="flex gap-4 mt-5 justify-end" footerModal>
      <button 
        type="submit"
        mat-stroked-button
        color="primary"
        class="text-black font-bold py-2 px-4 btncancel"
        (click)="cancel()">
        Cancelar
      </button>

      <button 
        type="submit"
        class="text-black font-bold py-2 px-4 btnsave"
        mat-raised-button
        color="primary"
        (click)="save()">
        Salvar
      </button>       
    </div>
</app-modal-default>