<app-modal-default>
    <span titleModal>Inserir Cliente</span>

     <div class="container" contentModal>
      <form [formGroup]="form">
        <div class="mt-2">
          <label class="text-slate-800 font-medium text-sm block">Nome*</label>
          <input
            matInput
            type="text"
            formControlName="name"
            placeholder="João Oliveira" 
            class="block w-full px-3 py-2 
            border  rounded-md"
            [ngClass]="{
              'border-red-500': fieldIsValid(form.get('name')),
              'border-slate-300': !fieldIsValid(form.get('name'))
            }"
          />  
          <app-field-error [control]="form.get('name')"></app-field-error>           
        </div> 
        <div class="mt-2">
          <label class="text-slate-800 font-medium text-sm block">Email*</label>
          <input
            matInput
            type="email"
            formControlName="email"
            placeholder="joao@gmail.com" 
            class="block w-full px-3 py-2 
            border rounded-md"
            [ngClass]="{
              'border-red-500': fieldIsValid(form.get('email')),
              'border-slate-300': !fieldIsValid(form.get('email'))
            }"
          />  
          <app-field-error [control]="form.get('email')"></app-field-error>
        </div> 
        <div class="mt-2">
          <label class="text-slate-800 font-medium text-sm block">Telefone</label>
          <input
            matInput
            type="text"
            formControlName="telephone"
            placeholder="(21)99852-9658"
            mask="(00) 00000-0000" 
            class="block w-full px-3 py-2 
            border border-slate-300 rounded-md"
          />
        </div> 
        <div class="mt-2">
          <label class="text-slate-800 font-medium text-sm block">Rua*</label>
          <input
            matInput
            type="text"
            formControlName="street"
            placeholder="Rua Conceição" 
            class="block w-full px-3 py-2 
            border rounded-md"
            [ngClass]="form.get('street')?.invalid && form.get('street')?.touched 
              ? 'border-red-500' 
              : 'border-slate-300'"
          />  
          <app-field-error [control]="form.get('street')"></app-field-error>
        </div>
        <div class="mt-2">
          <label class="text-slate-800 font-medium text-sm block">Número*</label>
          <input
            matInput
            type="number"
            formControlName="numberHouse"
            placeholder="09" 
            class="block w-full px-3 py-2 
            border rounded-md" [ngClass]="{
              'border-red-500': fieldIsValid(form.get('numberHouse')),
              'border-slate-300': !fieldIsValid(form.get('numberHouse'))
            }"
          />  
          <app-field-error [control]="form.get('numberHouse')"></app-field-error>
        </div>   
        <div class="mt-2">
          <label class="text-slate-800 font-medium text-sm block">Cidade*</label>
          <input
            matInput
            type="text"
            formControlName="city"
            placeholder="Teresina" 
            class="block w-full px-3 py-2 
            border rounded-md" [ngClass]="{
              'border-red-500': fieldIsValid(form.get('city')),
              'border-slate-300': !fieldIsValid(form.get('city'))
            }"
          />  
          <app-field-error [control]="form.get('city')"></app-field-error>
        </div>   
        <div class="mt-2">
          <label class="text-slate-800 font-medium text-sm block">Estado*</label>
          <input
            matInput
            type="text"
            formControlName="state"
            placeholder="Amazonas" 
            class="block w-full px-3 py-2 
            border rounded-md" [ngClass]="{
              'border-red-500': fieldIsValid(form.get('state')),
              'border-slate-300': !fieldIsValid(form.get('state'))
            }"
          />  
          <app-field-error [control]="form.get('state')"></app-field-error>
        </div> 
        <div class="mt-2">
          <label class="text-slate-800 font-medium text-sm block">Cep*</label>
          <input
            matInput
            type="text"
            formControlName="zip"
            placeholder="00000-000"
            mask="00000-000"
            class="block w-full px-3 py-2 
            border rounded-md" [ngClass]="{
              'border-red-500': fieldIsValid(form.get('zip')),
              'border-slate-300': !fieldIsValid(form.get('zip'))
            }"
          />  
          <app-field-error [control]="form.get('zip')"></app-field-error> 
        </div>          
      </form>
    </div>
  
    <div class="flex gap-4 mt-5 justify-end" footerModal>
      <button 
        type="submit"
        mat-stroked-button
        color="primary"
        class="text-black font-bold py-2 px-4"
        (click)="cancel()">
        Cancelar
      </button>

      <button 
        type="submit"
        class="text-black font-bold py-2 px-4"
        mat-raised-button
        color="primary"
        [disabled]="form.invalid || !form.dirty"
        (click)="save()">
        Salvar
      </button>        
    </div>
</app-modal-default>